@import "../../mixins.scss";

.search-input-header {
  width: 400px;
  background-color: transparent;
  color: var(--text-dark-white);
  outline: 0;
  border: 0;
  animation: mobileSearchFade 0.3s ease-in-out forwards;
  color: var(--text-dark-white);
  display: none;
  @include lg {
    display: block;
  }
}

.search-input-header:focus {
  outline: 0;
  border: 0;
}
.search-input-header::placeholder {
}
.search-input-header-div {
  border-radius: 30px;
  padding: 10px 10px;
  background-color: var(--input-dark-color);
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  @include lg {
    padding: 10px 16px;
  }
}
.button {
  padding: 10px 10px;
  // background-color: #8ec5fc;
  // background-image: linear-gradient(62deg, #8ec5fc 0%, #b5a1e5 100%);
  background-color: #b5a1e5;
  border-radius: 30px;
  color: var(--text-dark-black);
 transition: 0.3s;

  @include lg {
    padding: 10px 16px;
  }
  .button-text {
    display: none;
    @include lg {
      display: block;
    }
  }
}
.button:hover {
  background-color: #a491d1;
 transition: 0.3s;
}
.right-container {
  display: flex;
  align-items: center;
}

.pulse-bubble {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000;
}

.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}