@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins.scss";

:root {
  font-family: "Inter", sans-serif;
  --tw-bg-opacity: 1;
  --text-dark-white: white;
  --text-dark-black: rgb(0, 0, 0);
  --background-dark: rgb(43, 45, 52);
  --input-dark-color: rgba(53, 58, 70, 0.66);
  --input-darker-color: rgba(10, 10, 14, 0.181);
  --button-color: #b5a1e5;
  --background-light: whitesmoke;
  --font-input-size: 1rem;
  --input-div-padding: 10px 16px;
  --button-padding: 8px 9px;
  --all-text-color: rgb(148 163 184);
  background-color: var(--background-dark);

  // --background-dark: #131215;
  // --input-dark-color: #1C1C1E;
  // --input-darker-color: #1A191C;
  // --button-color: #b5a1e5;
  // --all-text-color: #6E6E70;
}
.btn-color {
  background-color: #b5a1e5;
}
.btn-text-color {
  color: #b5a1e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --tw-text-opacity: 1;
  color: var(--all-text-color);
}
.sidebar {
  background-color: var(--input-dark-color);
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  //   background: rgba(255,255,255,0.35);
  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  // border: 1px solid rgba(255,255,255,0.175);
}
.highlights-sidebar {
  @include md {
    background-color: var(--input-dark-color);
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.sidebar-darker {
  background-color: var(--input-darker-color);
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
}
