@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins.scss";

:root {
  font-family: "Inter", sans-serif;
  --tw-bg-opacity: 1;
  --font-input-size: 1rem;
  --input-div-padding: 10px 16px;
  --button-padding: 8px 9px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn-color {
  background-color: #b5a1e5;
}
.btn-text-color {
  color: #b5a1e5;
}

.toggle-button {
  background-color: var(--input-dark-color);
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.toggle-button:hover {
  background-color: rgba(43, 44, 50, 0.186);
}
